body {
    background-color: #dfd5d5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    border-radius: 10px;
    padding-left: 50px;


}

.pic {
    width: 120px;
    height: 120px;
    background-color: #1bdf2b;
    margin-bottom: 20px;
    
}

p {
    width: 400px;
    margin-bottom: 20px;
    margin-top: 0;
    

}

button {
    width: 150px;
    height: 50px;
    background-color: rgb(184, 31, 214);
    color: #fff;
    border: none;
    font-size: 20px;

}